$open-sans: 'Open Sans', sans-serif;
$querround : 'Querround',sans-serif;
$helvetica : 'Helvetica';
$gulim : 'Gulim', sans-serif;
$transition : all 0.5s ease;
a{
	text-decoration:none;
}
body{
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	background:url('../img/bg.jpg') #1d0800 no-repeat 50% 0;
	background-size:100% ;
}
.querround{
	font-family: $querround !important;
	font-size: 1.8em !important;
}
.normal{
	font-family : $helvetica !important;
}
.container{
	max-width: 1206px;
}
.centered{
	color:#fff !important;
}
#sign-up{
	float:right;
	margin-bottom:25px;
	width:200px;
	.account{
		width: 60px;
		background:#cc000b;
		text-align: center;
    	padding: 11px 10px;
    	border-bottom:2px solid #000;
    	float: left;
	}
	.login{
		width: 140px;
		background:#000;
		opacity:0.9;
		float: left;
	}
	i{
		color:#8bff00;
	}
	ul{
		padding:0;
		margin: 0;
		>li{
		    list-style: none;
		    float: left;
			>a{
				padding-bottom: 21px;
		    	padding-left: 7px;
		    	padding-top: 10px;
				text-decoration: none;
				font-family: $open-sans;
				color: #fff;
				font-size: 1em;
				font-weight: 500;
				display: block;
			}
		}
	}
}
#header{
	width:100%;
	overflow:hidden;
	z-index:1000;
	.logo{
		float: left;
		img{
			max-width: 100%;
			margin: 7px 7px;
		}
	}
	.tabs-chart{
		width: 63%;
		height: 77px;
		margin-top: 33px;
		position: relative;
		left: 17px;
		overflow: hidden;
		border-top: 5px solid #88fb00;
		float: right;
	}
	.chart{
		float: left;
	    width: 65%;
	    height: 77px;
	    background: #000000;
	    opacity: 0.7;
	    text-align: center;
	}
	.joystick{
		height: 77px;
		width: 35%;
		background:#000000;
		opacity: none;
		float: left;
	}
	.icon-joystick{
		max-width: 100%;
		padding:15px;
	}
	h3{
		font-family: $open-sans;
		font-size: 1em;
		color: #fff;
		font-weight: 300;
		padding-top: 15px;
    	margin: 0;
	}
	strong{
		color: #ffea00;
		font-family: $open-sans;
		font-size: 1em;
		font-weight: 600;
	}
	span{
		font-family: $open-sans;
		font-size: 0.9em;
		font-weight: 600;
		color: #ff2c2c;
	}
}
#menus{
	width:100%;
	height: 70px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,0,3,1)), color-stop(100%,rgba(221,0,0,1))); /* Chrome,Safari4+ */
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 35px;
	border:1px solid #00112a;
	ul{
		border-top-right-radius: 15px;
		border-top-left-radius: 10px;
		overflow: hidden;
		padding:0;
		margin: 0;
		>li{
			list-style: none;
			float: left;
			border-right:1px solid #0e4798;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,63,149,1)), color-stop(59%,rgba(42,155,216,1)), color-stop(59%,rgba(32,140,202,1)), color-stop(100%,rgba(0,198,255,1))); /* Chrome,Safari4+ */
			>a{
				padding-top:10px;
				padding-right: 47px;
    			padding-left: 43px;
				display: block;
			    text-align: center;
			    height: 62px;
			    line-height: 50px;
			    color: #fff;
			    font-family: $open-sans;
			    color: #fff;
			    font-size: 1.1em;
			    font-weight: 600;
			    &:hover{
			    	text-decoration: none;
			    	color: #c5c6c7;
			    	transition: $transition;
			    }
			}
		}
	}
	.search{
		border-right:none !important;
	}
	.btn-form{
		height: 100%;
		width: 90px;
		border:none;
		outline: none;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,0,3,1)), color-stop(100%,rgba(221,0,0,1))); /* Chrome,Safari4+ */
	}
	.form-search{
		width: 100px;
	    display: none;
	    right: 228px;
	    position: absolute;
	    z-index: 2000;
	}
	.btn-hamburger{
		position: absolute;
		display: none;
		font-size: 2em;
		border:none;
		background:none;
		color: #fff;
	}
	.text-search{
		width: 240%;
		padding:10px;
		border:1px solid #e5e5e5;
		border: none;
		font-family: $open-sans;
		font-size: 1em;
		font-weight: 400;
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(247,247,247,1) 77%, rgba(246,246,246,1) 86%);
	}
	.btn-search{
		position: absolute;
	    left: 200px;
	    bottom: 2px;
	    padding: 10px;
	    border: none;
	    background: none;
	}
	i{
		font-size: 1.2em;
		color:-webkit-linear-gradient(top, white 0%, white 24%, #f7f7f7 77%, #f6f6f6 86%);
	}
}
@media screen and (max-width: 1024px) {
	.btn-hamburger{
		position: absolute;
		display: block !important;
	}
	.btn-form{
		display: none;
	}
	#menus{
		width:100%;
		background: #0e0e0e;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		margin-top: 35px;
		height: auto;
		overflow: hidden;
		ul{
			border-top-right-radius: 15px;
			border-top-left-radius: 10px;
			overflow: hidden;
			padding:0;
			margin: 0;
			display: none;
			>li{
				list-style: none;
				float: none;
				border-right:1px solid #0e4798;
				background:none;
				>a{
					padding-top:10px;
					padding-right: 47px;
	    			padding-left: 43px;
					display: block;
				    text-align: center;
				    height: 62px;
				    line-height: 50px;
				    color: #fff;
				    font-family: $open-sans;
				    color: #fff;
				    font-size: 1.1em;
				    font-weight: 600;
				    &:hover{
				    	text-decoration: none;
				    	color: #c5c6c7;
				    	transition: $transition;
				    }
				}
			}
		}
	}
}
#slider{
	width:100%;
	height:auto;
	.caption-info{
		background:#242424;
		overflow: hidden;
		width: 100%;
		padding-bottom:12px;
	}
	h1{
		font-family: $gulim;
		color: #fff;
		text-align: center;
		font-size: 1.4em;
		font-weight: 500;
	}
	.more-read{
		position: relative;
	    left: -7px;
	    float: right;
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(50%, #a1d54f), color-stop(84%, #80c217));
	    padding: 4px 14px;
	    border-radius: 5px;
	    border: 1px solid #000;
	    margin-right: 10px;
	    color: #fff;
	    font-size: 0.7em;
	    font-family: $helvetica;
	    font-weight: 400;
		&:hover{
			text-decoration: none;
		}
	}
}
@media screen and (max-width: 960px) {
	#slider{
		margin-top:20px;
	}
}
.bx-viewport{
	height:auto !important;
}
#banner{
	overflow:hidden;
	width:100%;
	margin-top:20px;
	img{
		float: left;
		max-width: 100%;
		margin-top: 10px;
    	margin-left: 15px;
	}
	h2{
		font-family: $open-sans;
		color: #989898;
		padding-top:45px;
		font-size: 1.3em;
		margin: 0;
	}
	span{
		font-family: $open-sans;
		color: #484848;
		padding-top:45px;
		font-size: 0.9em;
	}
	.new-notification{
		color: #1dbb14;
		font-family: $open-sans;
		font-size: 1em;
		text-transform: uppercase;
		margin: 0;
		text-align: right;
		padding-top: 30px;
    	padding-right: 34px;
	}
	.new-product{
		padding-top:0 !important;
	}
	.box-banner{
		width: 100%;
		height: 145px;
		border-radius:4px;
		text-align: center;
		margin-bottom:20px;
		cursor: pointer;
		-webkit-transform: translateZ(0);
	  	transform: translateZ(0);
	  	-webkit-backface-visibility: hidden;
	  	backface-visibility: hidden;
	  	-moz-osx-font-smoothing: grayscale;
	  	-webkit-transition-duration: 0.3s;
	  	transition-duration: 0.3s;
	  	-webkit-transition-property: transform;
	  	transition-property: transform;
	  	-webkit-transition-timing-function: ease-out;
	  	transition-timing-function: ease-out;
		&:hover{
	  		-webkit-transform: translateY(-8px);
  			transform: translateY(-8px);
	  	}
		a{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    opacity: 0;
		}
	}
	.bg-white{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(62%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	}
	.bg-black{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(17,17,17,1)), color-stop(100%,rgba(0,0,0,1)), color-stop(100%,rgba(19,19,19,1)), color-stop(101%,rgba(17,17,17,1)), color-stop(102%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	}
}

#content{
	background:#e5e5e5;
	margin-top:40px;
	width:100%;
	overflow:hidden;
	border-top:4px solid #1184dd;
	border-bottom:4px solid #1184dd;
	-webkit-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.75);
	.tab-title-top{
		width: 100%;
		overflow: hidden;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
		border-bottom:1px solid #D6D6D6;
		.sortby{
			float: right;
			margin-right: 15px;
		}
		h1{
			font-family: $open-sans;
			color: #000;
			font-size: 1.2em;
			text-transform: uppercase;
			padding-left:16px;
		}
		span{
			font-family: $open-sans;
			color: #000 !important;
			font-size: 0.8em !important;
			font-weight: 400 !important;
			text-transform: none;
		}
		.btn{
			background:none;
			border: 2px solid #f4f4f4;
    		padding: 4px;
		}
	}
	.tab-title-category{
		width: 100%;
		margin-left: 30px;
		h3{
			font-family: $open-sans;
			color: #000;
			font-size: 1em;
			text-transform: uppercase;
			padding-left:16px;
		}
	}
	.tab-post{
		width: 98%;
	    overflow-x: scroll;
	    white-space: nowrap;
	    overflow-y: hidden;
	    padding: 10px 15px;
	    margin-bottom: 70px;
	    padding-bottom: 90px;
	    margin: 0 10px;
	    img{
	    	max-width: 100%;
	    }
	}
	.tab-post::-webkit-scrollbar{
		width:5px;
		background-color:#cccccc;
	} 
	.tab-post::-webkit-scrollbar-thumb{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(131,199,131,1)), color-stop(83%,rgba(64,153,0,1)), color-stop(100%,rgba(64,153,0,1)));
		content: '/';
		border-radius:10px;
	}
	.tab-post::-webkit-scrollbar-thumb:hover{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(131,199,131,1)), color-stop(83%,rgba(64,153,0,1)), color-stop(100%,rgba(64,153,0,1)));
		border:1px solid #499800;
	}
	.tab-post::-webkit-scrollbar-thumb:active{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(131,199,131,1)), color-stop(83%,rgba(64,153,0,1)), color-stop(100%,rgba(64,153,0,1)));
		border:1px solid #499800;
	} 
	.post{
		border-radius:2px;
		padding: 17px 20px 27px;
	    display: inline-block;
	    position: relative;
	    cursor: pointer;
	    margin: 10px 9px;
	    text-align: center;
   		&:hover{
   			background:#d4d4d4;
   			transition: $transition;
   		}
   		h2{
   			font-family: $open-sans;
   			color: #000000;
   			font-size: 1em;
   			margin: 0;
   			padding-top:10px;
   			font-weight: 500;
   		}
   		h3{
   			font-family: $open-sans;
   			color: #000000;
   			font-size: 0.8em;
   			margin: 0;
   			margin-bottom: 25px;
   			font-weight: 300;
   		}
   		strong{
   			color: #ff0101;
   		}
   		.add-chart{
   			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,200,255,1)), color-stop(91%,rgba(43,136,217,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
   			padding:10px;
   			border-radius:2px;
   			color: #fff;
   			font-family: $open-sans;
   			font-size: 0.9em;
   			font-weight: 500;
   		}
	}
	.tab-title{
		padding:0
	}
	.first-category{
		border-left:4px solid #00a5ff;
	}
	.second-category{
		border-left:4px solid #ff6c00;
	}
	.third-category{
		border-left:4px solid #fb2828;
	}
}

#partner{
	margin-top:35px;
	width: 100%;
	padding: 0 66px;
	ul{
		padding:0;
		margin: 0;
		li{
			width: 150px !important;
			img{
				padding: 0 16px;
			}
		}
	}
	.bx-wrapper .bx-prev {
		left: -50px;
		background: url(images/arrow-partner.png) no-repeat 33px 7px;
	}

	.bx-wrapper .bx-next {
		right: -55px;
		background: url(images/arrow-partner.png) no-repeat -22px 0px !important;
	}
}

.cmz-cols{
	width: 100%;
}
.option-bottom{
	width:100%;
	margin-top:50px;
	margin-bottom:40px;
	padding: 0 12px;
	.advertising{
		max-width: 100% !important;
		margin-bottom:20px;
	}
}

#footer{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(45%,rgba(219,219,219,1)), color-stop(60%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
	border-radius:5px;
	overflow:hidden;
	width:100%;
	margin-top:40px;
	padding: 54px 54px 10px;
	.tab-links{
		margin: 0 10px;
		border-bottom:1px solid #b0b0b0;
		overflow: hidden;
		padding-bottom:40px;
	}
	.link{
		width: 20%;
		float: left;
		ul{
			padding:0;
			margin: 0 15px;
			>li{
				text-align: left;
				list-style: none;
				>a{
					float: none;
					font-family: $open-sans;
					color: #000000;
					font-size: 0.9em;
					font-weight: 300;
					&:hover{
						text-decoration: none;
						color: #9d9d9d;
						transition: $transition;
					}
				}
			}
		}
		i{
			top: 0;
			font-size: 8px;
			color: #4fa000;
		}
	}
	@media screen and (max-width: 960px) {
		.link{
			width: 100%;
			float: none;
		}
	}
	.title-hashtag{
		border-left: 4px solid #dc1b1b;
		h2{
			font-family: $open-sans;
			font-size: 1em;
			font-weight: 600;
			color: #000000;
			padding-left:10px;
			text-transform: uppercase;
		}
	}
	.title-point{
		border-left: 4px solid #4fa000;
		h2{
			font-family: $open-sans;
			font-size: 1em;
			font-weight: 600;
			color: #000000;
			padding-left:10px;
			text-transform: uppercase;
		}
	}
	.copyright{
		float: left;
		margin-top: 20px;
	}
	.left-company{
		font-family: $open-sans;
		color: #000000;
		font-size: 0.9em;
		text-align: left;
		padding-left:10px;
	}
	span{
		float: left;
		font-family: $open-sans;
		color: #000000;
		font-size: 0.9em;
		font-weight: 600;
		padding-top:18px;
	}
	.icon{
		width: 40px;
		height: 40px;
		border-radius:100%;
		border:2px solid #717171;
		margin: 5px;
		color: #717171;
		text-align: center;
		float: left;
		&:hover{
			background:#b0b0b0;
			transition: $transition;
			color: #fff;
		}
	}
	.title-copyright{
		text-decoration: none;
		color: #000000;
		&:hover{
			color: #b0b0b0;
			transition: $transition;
		}
	}
	.social-media{
		margin-top: 20px;
		float: right;
	}
	i{
		position: relative;
		top: 10px;
	}
}

.left-sidebar{
	width:100%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(7%,rgba(30,87,153,1)), color-stop(96%,rgba(0,60,123,1)), color-stop(99%,rgba(0,60,123,1)), color-stop(100%,rgba(0,60,123,1))); /* Chrome,Safari4+ */
	margin: 20px 20px;
	ul{
		padding:0;
		margin: 0;
		>li{
			list-style: none;
			font-family: $open-sans;
			font-size: 1em;
			text-transform: uppercase;
			>a{
				border-bottom: 1px solid #003c7b;
				cursor: pointer;
				font-family: $open-sans;
				color: #fff;
				display: block;
				padding:12px 20px;
				text-transform: uppercase;
				&:hover{
					color: #ffde00;
					transition:$transition;
					text-decoration: none;
					background:#023f7e;
				}
			}
		}
		>li ul{
			display: none;
			>li{
				>a{
					border-bottom:none;
					padding:3px 30px;
				}
			}
		}
	}
	i{
		float: right;
	}
}
@media screen and (max-width: 960px) {
	.left-sidebar{
		margin: 20px 0;
	}
}
#single-categories{
	width:100%;
	overflow: hidden;
    margin: 24px 0;
    padding-bottom:30px;
	.post-category{
		border-radius:2px;
	    display: inline-block;
	    position: relative;
	    cursor: pointer;
	    text-align: center;
	    padding: 17px 10px 22px;
   		&:hover{
   			background:#d4d4d4;
   			transition: $transition;
   		}
   		h2{
   			font-family: $open-sans;
   			color: #000000;
   			font-size: 1em;
   			margin: 0;
   			padding-top:10px;
   			font-weight: 500;
   		}
   		h3{
   			font-family: $open-sans;
   			color: #000000;
   			font-size: 0.8em;
   			margin: 0;
   			margin-bottom: 25px;
   			font-weight: 300;
   		}
   		strong{
   			color: #ff0101;
   		}
   		.add-chart{
   			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,200,255,1)), color-stop(91%,rgba(43,136,217,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
   			padding:10px;
   			border-radius:2px;
   			color: #fff;
   			font-family: $open-sans;
   			font-size: 0.9em;
   			font-weight: 500;
   		}
	}
	.tab-title{
		padding:0
	}
}
#single-categories::-webkit-scrollbar{
	width:5px;
	background-color:#cccccc;
} 
#single-categories::-webkit-scrollbar-thumb{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(131,199,131,1)), color-stop(83%,rgba(64,153,0,1)), color-stop(100%,rgba(64,153,0,1)));
	content: '/';
	border-radius:10px;
}
#single-categories::-webkit-scrollbar-thumb:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(131,199,131,1)), color-stop(83%,rgba(64,153,0,1)), color-stop(100%,rgba(64,153,0,1)));
	border:1px solid #499800;
}
#single-categories::-webkit-scrollbar-thumb:active{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(82,177,82,1)), color-stop(1%,rgba(131,199,131,1)), color-stop(83%,rgba(64,153,0,1)), color-stop(100%,rgba(64,153,0,1)));
	border:1px solid #499800;
} 
.left-section{
	width:100%;
	overflow:hidden;
	background:#fff;
	margin-left:19px;
	margin-bottom:30px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(173,171,173,1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(173,171,173,1);
	box-shadow: 0px 3px 5px 0px rgba(173,171,173,1);
	.header-left-section{
		width: 100%;
		overflow: hidden;
		background:#1c1c1c;
		padding: 0 30px;
		h1{
			color: #fff;
			font-size: 1.2em;
			font-family: $open-sans;
			font-weight:600;
		}
	}
	.product{
		width: 100%;
		overflow: hidden;
		background:#171717;
		.link-more-product{
			float: right;
	  		padding-right: 17px;
	  		padding-bottom: 10px;
	  		text-transform: uppercase;
	  		color: #0693d6;
	  		font-family: $open-sans;
		}
		.tips-post{
			width: 100%;
			padding-bottom:20px;
			overflow: hidden;
			img{
				max-width:100%;
				margin-top: 10px;	
			}
			a{
				color: #fff;
				font-family: $open-sans;
				font-weight: 400;
				font-size: 0.9em;
				margin: 10px 27px;
				&:hover{
					text-decoration: none;
					color: #c5c5c5;
					transition:$transition;
				}
			}
			p{
				color: #fff;
				font-family: $open-sans;
				font-weight: 300;
				font-size: 0.8em;
				margin: 10px 27px;
			}
			.read-more{
				font-family: $open-sans;
				color: #00a2ff;
				font-style: italic;
				font-size:1em;
				font-weight: 300;
				&:hover{
					text-decoration: underline;
					color: #00a2ff;
				}
			}
			.date{
				font-family: $open-sans;
				font-style:italic;
				color: #fff;
				font-size: 0.8em;
				padding-left:30px;
				font-weight: 300;
			}
			@media screen and (max-width: 960px) {
				a{
					color: #fff;
					font-family: $open-sans;
					font-weight: 400;
					font-size: 0.9em;
					margin: 10px 10px;
					&:hover{
						text-decoration: none;
						color: #c5c5c5;
						transition:$transition;
					}
				}
				p{
					color: #fff;
					font-family: $open-sans;
					font-weight: 300;
					font-size: 0.8em;
					margin: 10px 10px;
				}
				.date{
					padding-left:10;
				}
			}
		}
	}
	#tab-product-new{
		display: block;
		padding:0;
		border-bottom:1px solid #000000;
		margin: 29px 30px;
		li{
			line-height: 30px;
		}
		a{
			display: block;
			line-height: 15px;
			color: #fff;
			font-family: $open-sans;
			font-weight: 300;
			margin: 0;
			&:hover{
				text-decoration: none;
				color: #484848;
				transition: $transition;
			}
		}
		span{
			color: #484848;
			font-family: $open-sans;
			font-size: 0.9em;
			font-weight: 300;
			padding-left:10px;
		}
		.product-new{
			width: 100%;
			overflow: hidden;
			margin-bottom: 20px;
		}
		img{
			float: left;
		}
		.product-name{
			color: #fff;
			font-family: $open-sans;
			font-weight: 300;
  			padding-left:90px;
  			margin: 0;
		}
		.price{
			color: #ff0000;
			font-family: $open-sans;
			font-weight: 300;
  			padding-left:90px;
  			margin:0;
		}
		.tab-price{
			width: 100%;
		}
		.tab-product-name{
			width: 100%;
		}
		.tab-type{
			width: 100%;
		}
		@media screen and (max-width: 960px) {
			.product-name{
				float: left;
				padding-left:0;
			}
			.price{
				float: left;
				padding-left:0;
			}
			span{
				padding-left:0;
				float: left;
			}
			.tab-price{
				float: left;
				width: 100%;
			}
			.tab-product-name{
				float: left;
				width: 100%;
			}
			.tab-type{
				float: left;
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: 960px) {
	.left-section{
		margin-left: 0;
	}
}
.banner-left{
	width:100%;
	img{
		max-width: auto;
	}
	@media screen and (max-width: 960px) {
		img{
			max-width: 100%;
		}
	}
}
.news-letter{
	width:100%;
	background:#2f2f2f;
	margin: 25px 15px;
	text-align:center;
	border:4px solid #000;
	padding: 25px;
	h1{
		font-family: $open-sans;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.4em;
		font-weight: 700;
	}
	span{
		font-family: $open-sans;
		color: #fff;
		font-size: 0.8em;
		font-weight: 300;
	}
	.mail{
		max-width: 100%;
	}
	.email{
		border-radius:5px;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		border:none;
		padding:5px 10px;
	}
	.btn-submit{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(5,136,0,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
		border:none;
		border-radius:10px;
		color: #fff;
		font-family: $open-sans;
		font-weight: 400;
		text-transform: uppercase;
		padding:6px 10px;
		margin-top: 10px;
	}
	.subscribe{
		text-align: center;
	}
}
@media screen and (max-width: 960px) {
	.news-letter{
		margin: 25px 0;
	}
}
.pagination{
	padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    bottom: 22px;
    background: #e5e5e5;
    width: 33%;
    float: right;
	ul{
		float: right;
		padding:0;
		margin-top: 10px;
		margin-right: 15px;
		>li{
			list-style: none;
			float: left;
			>a{
				text-decoration: none;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
				padding: 5px 11px;
				margin: 5px 5px;
				border-radius:100%;
				color: #6b6b6b;
				font-size: 1em;
				font-weight:500;
				font-family: $open-sans;
				-webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
				box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
				&:hover{
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
					transition: $transition;
				}
			}
		}
		.next{
			background:none !important;
			box-shadow:none;
			&:hover{
				color: #75b628;
				transition: $transition;
			}
			i{
				font-size: 1.5em;
			}
		}
		.prev{
			background:none !important;
			box-shadow:none;
			&:hover{
				color: #75b628;
				transition: $transition;
			}
			i{
				font-size: 1.5em;
			}
		}
	}
}
@media screen and (max-width: 960px) {
	.pagination{
		width: 100%;
	}
}
.list-bottom-single{
	border-bottom:1px solid #c6c6c6;
	overflow:hidden;
	width:100%;
}

#single-typical{
	width:100%;
	overflow:hidden;
	margin: 0 25px;
	.tabs-title-typical{
		overflow: hidden;
		width: 100%;
		border-bottom:1px solid #dbdbdb;
		h1{
			color: #2876ce;
			font-size: 1.8em;
			font-family: $open-sans;
			font-weight: 600;
		}
	}
	.tabs-description{
		overflow: hidden;
		width: 100%;
		padding-right: 100px;
		h1{
			color: #000000;
			font-size: 1.4em;
			font-family: $open-sans;
			font-weight: 400;
		}
		h2{
			color: #000000;
			font-size: 1em;
			font-family: $open-sans;
			font-weight: 400;
		}
		p{
			color: #000000;
			font-size: 0.9em;
			font-family: $open-sans;
			font-weight: 400;
			text-align: justify;
			margin-bottom:16px;
			line-height: 22px;
		}
	}
	.tab-point-text-second{
		overflow: hidden;
		width: 100%;
		padding-right:100px;
		.tab-point{
			width: 100%;
		}
		.circle{
			width: 40px;
			height: 40px;
			border-radius:100%;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(17%,rgba(131,199,131,1)), color-stop(33%,rgba(82,177,82,1)), color-stop(100%,rgba(94,176,0,1)), color-stop(100%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1)), color-stop(100%,rgba(94,176,0,1)), color-stop(101%,rgba(94,176,0,1)));
			border:1px solid #e3e3e3;
			float: left;
			color: #fff;
			span{
				position: relative;
				left: 15px;
				top: 10px;
				font-size: 1em;
				color: #fff;
			}
		}
		.description-point{
			text-align: justify;
			font-family: $open-sans;
			font-size: 0.9em;
			font-weight: 400;
			font-style: normal;
			color: #000;
			padding-left:55px;
		}
	}
	.img-featured{
		width: 800px;
	    height: auto;
	    margin-top: 40px;
	}
	blockquote{
		overflow: hidden;
		width: 100%;
		margin-top: 30px;
		background:#d3d3d3;
		border-left:5px solid #a4a4a4;
		margin: 0;
  		padding: 10px 60px;
  		quotes: "\201C""\201D""\2018""\2019";
  		width: 90%;
  		margin-top: 22px;
  		&:before{
  			color: #ccc;
			content: open-quote;
			font-size: 7em;
			line-height: 0;
			margin-right: 0.25em;
			vertical-align: -0.4em;
			position: relative;
			top: 44px;
			left: -25px;
			z-index: 0;
  		}
		.quote{
			font-family: $open-sans;
			font-size: 1em;
			font-weight: 300;
			font-style: italic;
		}
	}
	.tabs-games-pic{
		width: 100%;
		overflow: hidden;
		img{
			width: 264px;
			margin-bottom: 20px;
		}
	}
	.tabs-about{
		width: 100%;
		overflow: hidden;
		.box-about{
			width: 47%;
    		float: left;
    		margin-right: 24px;
		}
		h2{
			font-family: $open-sans;
			font-size: 1.2em;
			font-weight: 600;
			color: #000;
		}
		i{
			font-size: 10px;
			padding-right:5px;
			color: #79b700;
		}
	}
}
#detail-product{
	width:100%;
	overflow:hidden;
	margin:20px;
	.select-style{
		border: 1px solid #ccc;
	    width: 120px;
	    border-radius: 3px;
	    overflow: hidden;
	    background: -webkit-linear-gradient(top, white 0%, white 24%, #f7f7f7 77%, #f6f6f6 86%);
	}
	.select-style select{
		padding: 5px 8px;
	    width: 130%;
	    border: none;
	    box-shadow: none;
	    background: transparent;
	    background-image: none;
	    -webkit-appearance: none;
	    font-family: $open-sans;
	    font-size: 1em;
	    font-weight: 500;
	}
	.zoom-caption{
		width: 100%;
		img{
			max-width: 100%;
		}
	}
	#product_detail{
		margin-top: 20px;
	}
	.caption-thumbnail{
		margin: 0;
		left: 18px;
	}
	.bx-wrapper{
		margin: -1px -5px !important;
	}
	.tabs-caption{
		width: 100%;
		h2{
			color: #000;
			font-family: $open-sans;
			font-size: 1.1em;
			font-weight: 400;
		}
		ul li{
			width: 155px !important;
		}
		ul img{
			width: 128px !important;
		}
	}
	.bx-wrapper .bx-prev {
		left: -50px;
		background: url(images/arrow-partner.png) no-repeat 33px 7px;
	}

	.bx-wrapper .bx-next {
		right: 0;
		background: url(images/arrow-partner.png) no-repeat -22px 0px !important;
	}
	.tab-quantity{
		margin: 0;
	    position: relative;
	    top: 22px;
	    float: left;
	    margin-right: 20px;
	}
	h2{
		font-family: $open-sans;
		color: #000;
		font-size:1.1em;
		margin:2px;
		font-weight: 600;
	}
	h3{
		font-family: $open-sans;
		color: #000;
		font-size:1em;
		margin:2px;
		font-weight: 300;
	}
	.ceklist{
		width: 20px;
		height: 20px;
		background:#69ba09;
		border-radius:100%;
		padding:2px;
		border:1px solid #54940f;
	}
	.avalaible-text{
		padding:0;
		margin-top: 100px;
		}
	span{
		font-family: $open-sans;
		i{
			color: #fff;
		}
	}
	.text-color{
		color: #ff7200;
		font-family: $open-sans;
	}
	.disable{
		cursor: default;
	}
	.qty{
		background: -webkit-linear-gradient(top, white 0%, white 24%, #f7f7f7 77%, #f6f6f6 86%);
	    width: 52px;
	    border: none;
	    padding: 7px 0;
	    margin: 0 -5px;
	    border: 1px solid #e8e8e8;
	    outline: none;
	    font-family: $open-sans;
	    font-size: 1em;
	    font-weight: 500;
	    text-align: center;
	}
	.qtyminus{
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(247,247,247,1) 77%, rgba(246,246,246,1) 86%);
		padding:10px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		color: #69ba09;
		border:none;
		border:1px solid #e8e8e8;
		outline: none;
		&:hover{
			background:#e8e8e8;
			transition: $transition;
		}
	}
	.qtyplus{
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(247,247,247,1) 77%, rgba(246,246,246,1) 86%);
		background:#fff;
		padding:10px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		color: #69ba09;
		border:none;
		margin: 0 -4px;
		border:1px solid #e8e8e8;
		outline: none;
		&:hover{
			background:#e8e8e8;
			transition: $transition;
		}
	}
	p{
		font-family: $open-sans;
		color: #000;
		font-size:1em;
		margin:2px;
		font-weight: 300;
	}
	.title-product{
		width: 100%;
		overflow: hidden;
		margin-top: 10px;
		h1{
			font-family: $open-sans;
			color: #000;
			font-size:1.4em;
			font-weight: 600;
			margin: 0;
		}
		h2{
			font-family: $open-sans;
			color: #ff0000;
			font-size:1.5em;
			font-weight: 700;
		}
		span{
			color: #4b4b4b;
			font-family: $open-sans;
			font-size: 1em;
		}
	}
}
.tabs-option-category{
	width: 92%;
	overflow:hidden;
	margin-top:30px;
	.rating{
		float: right;
		h2{
			padding:0;
		}
		i{
			font-size: 1em;
			padding-top:4px;
			color: #ff9d00;
		}
		span{
			font-family: $open-sans;
			color: #000;
			font-size: 1em;
			font-weight: 500;
			padding-right:10px;
		}
	}
	ul.tabs{
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	ul.tabs li{
		background: none;
		color: #222;
		display: inline-block;
		padding: 10px 15px;
		cursor: pointer;
		background:#d7d7d7;
		font-size: 1em;
		font-family: $open-sans;
	}
	ul.tabs li.current{
		background: #ededed;
		color: #222;
	}
	.tab-content{
		display: none;
		background: #ededed;
		padding: 15px;
	}
	.tab-content.current{
		display: inherit;
	}
	p{
		padding-bottom:10px;
	}
}
.tabs-checkout{
	width:92%;
	overflow:hidden;
	border-bottom:1px solid #cfcfcf;
	padding: 25px 0 25px;
	img{
		max-width: 100%;
		margin: 0 10px;
	}
	a{
		display: block;
		font-size: 1em;
		color: #fff;
		font-family: $open-sans;
		font-weight: 300;
		text-transform: uppercase;
		&:hover{
			text-decoration: none;
			color: #B3B3B3;
			transition: $transition;
		}
	}
	.tab-btn{
		display: inline-block;
	    float: right;
	}
	.btn-checkout{
		padding-bottom: 10px;
	    padding-top: 10px;
	    text-align: center;
	    padding-left: 0;
	    width: 160px;
		border-radius:5px;
		display: inline-block;
	}
	.chart{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(121,195,0,1)), color-stop(50%,rgba(95,180,0,1)), color-stop(100%,rgba(121,195,0,1))); /* Chrome,Safari4+ */
	}
	.checkout{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,188,247,1)), color-stop(50%,rgba(0,151,241,1)), color-stop(100%,rgba(0,188,247,1))); /* Chrome,Safari4+ */
	}
}
.related-post{
	width:100%;
	overflow:hidden;
	.col-md-3{
		width: 22% !important;
	}
	@media screen and (max-width: 960px) {
		.col-md-3{
			width: auto !important;
		}
	}
	.post{
		border-radius:2px;
		padding: 17px 20px 27px;
	    display: inline-block;
	    position: relative;
	    cursor: pointer;
	    margin: 10px 9px;
	    text-align: center;
   		&:hover{
   			background:#d4d4d4;
   			transition: $transition;
   		}
   		h2{
   			font-family: $open-sans;
   			color: #000000;
   			font-size: 1em;
   			margin: 0;
   			padding-top:10px;
   			font-weight: 500;
   		}
   		h3{
   			font-family: $open-sans;
   			color: #000000;
   			font-size: 0.8em;
   			margin: 0;
   			margin-bottom: 25px;
   			font-weight: 300;
   		}
   		strong{
   			color: #ff0101;
   		}
   		.add-chart{
   			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,200,255,1)), color-stop(91%,rgba(43,136,217,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
   			padding:10px;
   			border-radius:2px;
   			color: #fff;
   			font-family: $open-sans;
   			font-size: 0.9em;
   			font-weight: 500;
   		}
	}
}

.login-page{
	width:100%;
	overflow:hidden;
	border-bottom:1px solid #cccccc;
	.login-desc{
		margin: 20px;
		h1{
			font-family: $open-sans;
			color: #000;
			font-size: 1.5em;
			font-weight: 500;
		}
		h2{
			font-family: $open-sans;
			color: #000;
			font-size: 1.1em;
			font-weight: 400;
		}
		span{
			font-family: $open-sans;
			color: #000;
			font-size: 0.9em;
			font-weight: 300;
		}
	}
	.tabs-btn-login{
		margin: 10px;
		.register{
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(121,195,0,1)), color-stop(50%,rgba(95,180,0,1)), color-stop(100%,rgba(121,195,0,1))); /* Chrome,Safari4+ */
			color: #fff;
			font-family: $open-sans;
			font-size: 1em;
			font-weight: 400;
			padding:10px;
			border-radius:5px;
			margin-left: 10px;
			&:hover{
				text-decoration: none;
				color: #e5e5e5;
				transition: $transition;
			}
		}
	}
	.login-wrap{
		margin: 10px;
		h1{
			font-family: $open-sans;
			color: #000;
			font-size: 1.5em;
			font-weight: 500;
		}
		b{
			font-family: $open-sans;
			color: #000;
			font-size: 1em;
			font-weight: 400;
		}
		.large-input{
			background: -webkit-linear-gradient(top, white 0%, white 24%, #f7f7f7 77%, #f6f6f6 86%);
			border-radius:2px;
			border:1px solid #cccccc;
			width: 50%;
    		padding: 5px;
    		font-family: $open-sans;
			color: #000;
			font-size: 1em;
			font-weight: 400;
		}
		.forgot{
			font-family: $open-sans;
			color: #000;
			font-size: 1em;
			font-weight: 400;
		}
		.btn-login{
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(121,195,0,1)), color-stop(50%,rgba(95,180,0,1)), color-stop(100%,rgba(121,195,0,1))); /* Chrome,Safari4+ */
			color: #fff;
			font-family: $open-sans;
			font-size: 1em;
			font-weight: 400;
			padding:10px 30px;
			border-radius:5px;
			border:none;
			&:hover{
				text-decoration: none;
				color: #e5e5e5;
				transition: $transition;
			}
		}
	}
}
.register-page{
	width:100%;
	overflow:hidden;
	margin:10px 0;
	padding-left:20px;
	border-bottom:1px solid #cccccc;
	span{
		font-family: $open-sans;
		font-size: 1em;
		font-weight: 400;
	}
	.form-register{
		margin: 20px 0;
	}
	td{
		padding:6px 0;
		font-family: $open-sans;
		font-size: 0.9em;
		font-weight: 400;
	}
	.field-reg{
		background: -webkit-linear-gradient(top, white 0%, white 24%, #f7f7f7 77%, #f6f6f6 86%);
		border-radius:2px;
		border:1px solid #cccccc;
		width: 130%;
    	padding: 5px;
	}
	.captcha{
		width: 58%;
		float: right;
	}
	.btn-submit{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(121,195,0,1)), color-stop(50%,rgba(95,180,0,1)), color-stop(100%,rgba(121,195,0,1))); /* Chrome,Safari4+ */
		color: #fff;
		font-family: $open-sans;
		font-size: 1em;
		font-weight: 400;
		padding:10px 30px;
		border-radius:5px;
		border:none;
		&:hover{
			text-decoration: none;
			color: #e5e5e5;
			transition: $transition;
		}
	}
}